<html>
  <head>
    <title>참여 반려</title>
  </head>
  <body>
    <div>
      <span style='font-weight: bold;'>{{username}}님</span>
      <span>안녕하세요</span><br />
      <span>{{room}} 소설 공방의 참여가 반려되었습니다.</span><br />
      <span>작가 참여 게시판에서 또 다른 기회를 만나보세요</span>
    </div>
  </body>
</html>