<!DOCTYPE html>
  <head>
    <title>임시패스워드 발급</title>
  </head>
  <body>
    <div>
      <span style='font-weight: bold;'>{{username}}님</span>
      <span>안녕하세요 작가의 정원 입니다.</span><br />
      <span>임시 패스워드 {{password}} 가 발급되었습니다.</span><br />
    </div>
  </body>
</html>